@import "bootstrap";

.navbarbg {
  background-color: #bdf288;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: rgb(3, 69, 21);
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #70934d;
  text-decoration: none;
}
.createheading {
  margin-top: 30px;
  color: #72a8bf;
  text-align: center;
}
.jumbotron {
  background-image: asset-url("bg.jpg");
  background-size: cover;
  height: 550px;
}
.jumbotron h1 {
  color: #9bd362;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}
.footer {
  margin-top: 15%;
  padding-top: 15px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.bottomlogo {
  font-weight: bold;
  color: #9bd362;
  font-size: 25px;
}
.bottomlogo:hover {
  color: #5a7d37;
  text-decoration: none;
}
.footer ul {
  float: right;
  list-style: none;
}
.footer ul li {
  float: left;
  margin-left: 15px;
}
.bgerror {
  background-color: rgb(245, 195, 195);
}
.article-actions {
  padding-top: 15px;
}
.article-title {
  font-weight: bold;
  font-size: 1.3em;
  padding-left: 15px;
}
.article-body {
  border-top: 1px solid #eaeaea;
  padding: 15px;
}
