<h2 class="createheading"> CATEGORIES </h2>
<br/>
<div class="text-center">
    <% @categories.each do |category| %>
    <div class="row">
        <div class="col-md-4 offset-4 pt-3">
            <div class="card bg-light">
                <div class="article-title">
                    <%= link_to "#{category.name}", category_path(category) %>
                </div>
            </div>
        </div>
    </div>
    <% end %>
</div>

<div class="offset-5 pl-4 pt-5">
    <%= will_paginate %>
</div>